{% if item.isVisible %}
<div class="energy-displayer-container">
    <div class="energy-displayer-title">
        <span class="dot-blue"></span> 
        {{ item.title }} 
    </div> 
        {%if item.displayType == "CO2 estimation" %}
            {% if item.showPedagogicConsommation%}
                <div class="energy-displayer-display-container">
                    <div class="pyscadaDateTimeChange energy-display-co2-emmission  energy-displayer-value" data-display-type="co2consummation"  data-var-id={{ item.variable.id }} data-var-energy-factor={{item.energyType.GESCoeffienciant}}></div>
                    <div class="energy-displayer-unit"> KgCo2e </div>
                </div>
                <div id="fly">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/BSicon_exFIGHTER.svg/128px-BSicon_exFIGHTER.svg.png" width="30px" height="30px">
                </div>  
                <small class="energy-display-co2-emmission-pedagogic">
                    <div class="pyscadaDateTimeChange energy-display-co2-emmission-pedagogic-value" id="emmission-co2-dsiplay-var-id-{{ item.variable.id }}"></div>
                    <div class="energy-displayer-co2-emmission-pedagogic-text">allés-retours Paris-New York</div>
                </small>
            {%endif%}
            {% if not item.showPedagogicConsommation%}
                <div class="energy-displayer-display-container">
                    <div class="pyscadaDateTimeChange energy-display-co2-emmission  energy-displayer-value" id="emmission-co2-dsiplay-var-id-{{ item.variable.id }}" data-display-type={{ item.displayType }}  data-var-id={{ item.variable.id }} data-var-energy-factor={{item.energyType.GESCoeffienciant}}></div>
                    <div class="energy-displayer-unit"> KgCo2e </div>
                </div>
            {%endif%}
        {%endif%}
        {% if item.displayType == "Energy consummation"%}
            <div class="energy-displayer-display-container">
                <div class="pyscadaDateTimeChange energy-displayer-value" data-var-id={{ item.variable.id }}></div>
                <div class="energy-displayer-unit"> {{ item.variable.unit }} </div>
            </div>
        {%endif%}
</div>
<div class="hidden variable-config"
             data-id="{{ item.variable_id }}-{{ uuid }}"
             data-name="{{ item.title }}"
             data-key="{{ item.variable_id }}"
             data-device-id={{item.variable.device_id}}
             data-color="{{ item.variable.chart_line_color.color_code }}"
             data-init-type="0"
             data-type="variable"
             data-min="{{ item.variable.min }}"
             data-max="{{ item.variable.max }}"
             data-value-class="{{ item.variable.value_class }}"
             data-min-type="{{ item.variable.min_type }}"
             data-max-type="{{ item.variable.max_type }}"
             data-unit="{% if item.variable.unit %}{{ item.variable.unit }}{% endif %}"
             data-device-polling_interval="{{ item.variable.device.polling_interval }}"
             data-value-timestamp=""
             data-refresh-requested-timestamp=""
             data-dictionary="{{ item.variable.dictionary.dict_as_json }}"
        ></div>
{%endif%}